


{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">


<div class="center">
  <h1>Login</h1>
  <form method="post">
    {% csrf_token %}
    <div>
      {% for message in messages %}
    </div>
    <p class="message">{{ message }}</p>
    {% endfor %}
    <div class="txt_field">
      <input type="password" required name="new_password1" id="id_new_password1">
      <span></span>
      <label>New Password</label>
    </div>
    <div class="txt_field">
      <input type="password" id="id_new_password2" required name="new_password2">
      <span></span>
      <label>Confirm Password</label>
    </div>
    <div class="pass"><a href="{% url 'password_reset' %}">Forgot Password?</a></div>
    <input type="submit" value="Proceed" style="margin-bottom: 1rem;">
  </form>
</div>