{% extends 'base.html' %}


{% block content %}
{% include 'navbar.html' %}
<div class="f-heading" style="padding-bottom: 1rem;">
    <h3>About Us</h3>
</div>

<div class="container">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center about-head">Special title treatment</h5>
                <p class="card-text text-center about-subhead">
                    <h6 class="card-title about-text" >What Do We Do?</h6>
                Bright Palace has set out to solve one of our communities'
                long lasting problem of finding good and stress free housing
                appartments or office or evenv shopping spaces.
                <br>
                We endevour to provide ease of access to appartments without the
                usual stress through our freelance agents.
                <br><br>
                <h6 class="card-title about-text">Our Team</h6>
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
